DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSL= # set to 'true' to enable SSL for PostgreSQL in production
JWT_SECRET=
EMAILS_DISABLED=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=
SMTP_FROM_EMAIL=
# Credenciales para el chatbot
GROQ_API_KEY=

# Si quieres usar Gemini directamente, agrega esta variable (solo si modificas la API)
# GEMINI_API_KEY=