DB_HOST=localhost
DB_PORT=5432
DB_NAME=horariosUNT
DB_USER=postgres
DB_PASSWORD=tucontraseña
JWT_SECRET=tu-secreto-jwt-2024
EMAILS_DISABLED=false
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=correo@gmail.com
SMTP_PASS=tucontraseña
SMTP_FROM_NAME="SI Horarios UNT"
SMTP_FROM_EMAIL=correo@gmail.com